<!doctype html>
<html lang=en>
<head>
<meta charset="UTF-8">
<title>Geomantic</title>

<!--Remy Sharp Shim -->
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
</script>
<![endif]-->

<link rel="stylesheet" type="text/css" href="/css/styles.css">



</head>
<body id="geomantic">



<header>

	<center><h1><a href="/">Geomantic</a></h1></center>
	<center>This chart has a unique URL! You can bookmark and share it!</center>
	<center>This chart is titled <b><%= chart_metadata.dig(0, :chart_name) %></b>. It is by <b><%= chart_metadata.dig(0, :chart_by) %></b>, for <b><%= chart_metadata.dig(0, :chart_for) %></b>, and was created on <b><%= chart_metadata.dig(0, :chart_date) %></b>, and is about <b><%= chart_metadata.dig(0, :chart_subject) %></b>.</center>

	

</header>

<main>
	
	<div class="mother">
		<ul id="mother">
			<li id="mother">Fourth Daughter<br><img src="/images/<%= slot_figures.dig("daughter4", :image) %>" alt="<%= slot_figures.dig("daughter4", :fig_name) %>" title="<%= slot_figures.dig("daughter4", :fig_name) %>: <%= slot_figures.dig("daughter4", :translation) %>" id="figure"></li>
			<li id="mother">Third Daughter<br><img src="/images/<%= slot_figures.dig("daughter3", :image) %>" alt="<%= slot_figures.dig("daughter3", :fig_name) %>" title="<%= slot_figures.dig("daughter3", :fig_name) %>: <%= slot_figures.dig("daughter3", :translation) %>" id="figure"></li>
			<li id="mother">Second Daughter<br><img src="/images/<%= slot_figures.dig("daughter2", :image) %>" alt="<%= slot_figures.dig("daughter2", :fig_name) %>" title="<%= slot_figures.dig("daughter2", :fig_name) %>: <%= slot_figures.dig("daughter2", :translation) %>" id="figure"></li>
			<li id="mother">First Daughter<br><img src="/images/<%= slot_figures.dig("daughter1", :image) %>" alt="<%= slot_figures.dig("daughter1", :fig_name) %>" title="<%= slot_figures.dig("daughter1", :fig_name) %>: <%= slot_figures.dig("daughter1", :translation) %>" id="figure"></li>
			<li id="mother">Fourth Mother<br><img src="/images/<%= slot_figures.dig("mother4", :image) %>" alt="<%= slot_figures.dig("mother4", :fig_name) %>" title="<%= slot_figures.dig("mother4", :fig_name) %>: <%= slot_figures.dig("mother4", :translation) %>" id="figure"></li>
			<li id="mother">Third Mother<br><img src="/images/<%= slot_figures.dig("mother3", :image) %>" alt="<%= slot_figures.dig("mother3", :fig_name) %>" title="<%= slot_figures.dig("mother3", :fig_name) %>: <%= slot_figures.dig("mother3", :translation) %>" id="figure"></li>
			<li id="mother">Second Mother<br><img src="/images/<%= slot_figures.dig("mother2", :image) %>" alt="<%= slot_figures.dig("mother2", :fig_name) %>" title="<%= slot_figures.dig("mother2", :fig_name) %>: <%= slot_figures.dig("mother2", :translation) %>" id="figure"></li>
			<li id="mother">First Mother<br><img src="/images/<%= slot_figures.dig("mother1", :image) %>" alt="<%= slot_figures.dig("mother1", :fig_name) %>" title="<%= slot_figures.dig("mother1", :fig_name) %>: <%= slot_figures.dig("mother1", :translation) %>" id="figure"></li>
		</ul>
	</div>
	<div class="niece">
		<ul id="niece">
			<li id="niece">Fourth Niece<br><img src="/images/<%= slot_figures.dig("niece4", :image) %>" alt="<%= slot_figures.dig("niece4", :fig_name) %>" title="<%= slot_figures.dig("niece4", :fig_name) %>: <%= slot_figures.dig("niece4", :translation) %>" id="figure"></li>
			<li id="niece">Third Niece<br><img src="/images/<%= slot_figures.dig("niece3", :image) %>" alt="<%= slot_figures.dig("niece3", :fig_name) %>" title="<%= slot_figures.dig("niece3", :fig_name) %>: <%= slot_figures.dig("niece3", :translation) %>" id="figure"></li>
			<li id="niece">Second Niece<br><img src="/images/<%= slot_figures.dig("niece2", :image) %>" alt="<%= slot_figures.dig("niece2", :fig_name) %>" title="<%= slot_figures.dig("niece2", :fig_name) %>: <%= slot_figures.dig("niece2", :translation) %>" id="figure"></li>
			<li id="niece">First Niece<br><img src="/images/<%= slot_figures.dig("niece1", :image) %>" alt="<%= slot_figures.dig("niece1", :fig_name) %>" title="<%= slot_figures.dig("niece1", :fig_name) %>: <%= slot_figures.dig("niece1", :translation) %>" id="figure"></li>
		</ul>
	</div>
	<div class="witness">
		<ul id="witness">
			<li id="witness">Left Witness<br><img src="/images/<%= slot_figures.dig("witness2", :image) %>" alt="<%= slot_figures.dig("witness2", :fig_name) %>" title="<%= slot_figures.dig("witness2", :fig_name) %>: <%= slot_figures.dig("witness2", :translation) %>" id="figure"></li>
			<li id="witness">Right Witness<br><img src="/images/<%= slot_figures.dig("witness1", :image) %>" alt="<%= slot_figures.dig("witness1", :fig_name) %>" title="<%= slot_figures.dig("witness1", :fig_name) %>: <%= slot_figures.dig("witness1", :translation) %>" id="figure"></li>
		</ul>
	</div>
	<div class="judge">
		<ul id="judge">
			<li id="judge">Judge<br><img src="/images/<%= slot_figures.dig("judge", :image) %>" alt="<%= slot_figures.dig("judge", :fig_name) %>" title="<%= slot_figures.dig("judge", :fig_name) %>: <%= slot_figures.dig("judge", :translation) %>" id="figure"><br></li>
		</ul>
	</div>
	<div id="under">
		<form method="POST" action="/chart/<%= "#{hex_key}" %>">
			Notes:<br>
			<textarea name = "notes" rows = "12" cols = "60"><%= "#{these_notes}" %></textarea>
			<br>
			<input type="submit">
            
        </form>
	</div>
	
</main>

<aside>
	<h1>Interpretation Aids</h1>
	<ul>
		<li><a href="<%= "/chart/#{hex_key}" %>">Shield Chart</a></li>
		<li><a href="<%= "/houses/#{hex_key}" %>">Twelve Houses</a></li>
		<li>Way of Points (not yet available)</li>
		<li>Triplicities (not yet available)</li>
		<ul>
			<li>First Triplicity</li>
			<li>Second Triplicity</li>
			<li>Third Triplicity</li>
			<li>Fourth Triplicity</li>
		</ul>
		<li>Witnesses and Judge (not yet available)</li>
	</ul>
</aside>
<footer>
	<ul><li>Geomantic is &#169; 2018 Rebecca Lynde-Scott.</li></ul>
</footer>



</body>
</html>