<!doctype html>
<html lang=en>
<head>
<meta charset="UTF-8">
<title>Geomantic</title>

<!--Remy Sharp Shim -->
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
</script>
<![endif]-->

<link rel="stylesheet" type="text/css" href="/css/styles.css">



</head>
<body id="geomantic">



<header>

	<center><h1>Geomantic</h1></center>

	<p>Chart name is <b><%= chart_name %></b>, chart is by <b><%= chart_by %></b>, chart is for <b><%= chart_for %></b>, chart is about <b><%= chart_subject %></b>, chart created on <b><%= chart_date %></b>.</p>

</header>

<main>
	
	<div class="mother">
		<ul id="mother">
			<li id="mother">Fourth Daughter<br><img src="/images/<%= slot_figures.dig("daughter4", :image) %>" alt="<%= slot_figures.dig("daughter4", :name) %>" title="<%= slot_figures.dig("daughter4", :name) %>: <%= slot_figures.dig("daughter4", :translation) %>" id="figure"></li>
			<li id="mother">Third Daughter<br><img src="/images/<%= slot_figures.dig("daughter3", :image) %>" alt="<%= slot_figures.dig("daughter3", :name) %>" title="<%= slot_figures.dig("daughter3", :name) %>: <%= slot_figures.dig("daughter3", :translation) %>" id="figure"></li>
			<li id="mother">Second Daughter<br><img src="/images/<%= slot_figures.dig("daughter2", :image) %>" alt="<%= slot_figures.dig("daughter2", :name) %>" title="<%= slot_figures.dig("daughter2", :name) %>: <%= slot_figures.dig("daughter2", :translation) %>" id="figure"></li>
			<li id="mother">First Daughter<br><img src="/images/<%= slot_figures.dig("daughter1", :image) %>" alt="<%= slot_figures.dig("daughter1", :name) %>" title="<%= slot_figures.dig("daughter1", :name) %>: <%= slot_figures.dig("daughter1", :translation) %>" id="figure"></li>
			<li id="mother">Fourth Mother<br><img src="/images/<%= slot_figures.dig("mother4", :image) %>" alt="<%= slot_figures.dig("mother4", :name) %>" title="<%= slot_figures.dig("mother4", :name) %>: <%= slot_figures.dig("mother4", :translation) %>" id="figure"></li>
			<li id="mother">Third Mother<br><img src="/images/<%= slot_figures.dig("mother3", :image) %>" alt="<%= slot_figures.dig("mother3", :name) %>" title="<%= slot_figures.dig("mother3", :name) %>: <%= slot_figures.dig("mother3", :translation) %>" id="figure"></li>
			<li id="mother">Second Mother<br><img src="/images/<%= slot_figures.dig("mother2", :image) %>" alt="<%= slot_figures.dig("mother2", :name) %>" title="<%= slot_figures.dig("mother2", :name) %>: <%= slot_figures.dig("mother2", :translation) %>" id="figure"></li>
			<li id="mother">First Mother<br><img src="/images/<%= slot_figures.dig("mother1", :image) %>" alt="<%= slot_figures.dig("mother1", :name) %>" title="<%= slot_figures.dig("mother1", :name) %>: <%= slot_figures.dig("mother1", :translation) %>" id="figure"></li>
		</ul>
	</div>
	<div class="niece">
		<ul id="niece">
			<li id="niece">Fourth Niece<br><img src="/images/<%= slot_figures.dig("niece4", :image) %>" alt="<%= slot_figures.dig("niece4", :name) %>" title="<%= slot_figures.dig("niece4", :name) %>: <%= slot_figures.dig("niece4", :translation) %>" id="figure"></li>
			<li id="niece">Third Niece<br><img src="/images/<%= slot_figures.dig("niece3", :image) %>" alt="<%= slot_figures.dig("niece3", :name) %>" title="<%= slot_figures.dig("niece3", :name) %>: <%= slot_figures.dig("niece3", :translation) %>" id="figure"></li>
			<li id="niece">Second Niece<br><img src="/images/<%= slot_figures.dig("niece2", :image) %>" alt="<%= slot_figures.dig("niece2", :name) %>" title="<%= slot_figures.dig("niece2", :name) %>: <%= slot_figures.dig("niece2", :translation) %>" id="figure"></li>
			<li id="niece">First Niece<br><img src="/images/<%= slot_figures.dig("niece1", :image) %>" alt="<%= slot_figures.dig("niece1", :name) %>" title="<%= slot_figures.dig("niece1", :name) %>: <%= slot_figures.dig("niece1", :translation) %>" id="figure"></li>
		</ul>
	</div>
	<div class="witness">
		<ul id="witness">
			<li id="witness">Left Witness<br><img src="/images/<%= slot_figures.dig("witness2", :image) %>" alt="<%= slot_figures.dig("witness2", :name) %>" title="<%= slot_figures.dig("witness2", :name) %>: <%= slot_figures.dig("witness2", :translation) %>" id="figure"></li>
			<li id="witness">Right Witness<br><img src="/images/<%= slot_figures.dig("witness1", :image) %>" alt="<%= slot_figures.dig("witness1", :name) %>" title="<%= slot_figures.dig("witness1", :name) %>: <%= slot_figures.dig("witness1", :translation) %>" id="figure"></li>
		</ul>
	</div>
	<div class="judge">
		<ul id="judge">
			<li id="judge">Judge<br><img src="/images/<%= slot_figures.dig("judge", :image) %>" alt="<%= slot_figures.dig("judge", :name) %>" title="<%= slot_figures.dig("judge", :name) %>: <%= slot_figures.dig("judge", :translation) %>" id="figure"><br>
				<%= error %></li>
		</ul>
	</div>
</main>

<aside>
	<h1>Welcome to Geomantic.</h1>
	<p>Geomantic is a web app for creating and storing geomancy charts. It is, as of 5/2/2018, still in its alpha phase. It is not currently possible to look up previous charts, even though they are stored. (You can email me at <a href="mailto:hexdotink@gmail.com">hexdotink@gmail.com</a> if you'd like a particular stored chart.) Eventually, it will be possible to log in, store charts with your login, and look them up. It will also be possible to enter the first four figures, the Mothers, so that you can store charts you have created offline. Further out, there are plans to make it possible to email yourself or someone else a chart.</p>
	<p>What's geomancy? Geomancy is a system of divination which was popular in medieval Europe, although today it is quite obscure. Geomancy relies on a set of sixteen figure, each figure made up of four lines of binary values -- like the hexagrams of the I Ching, only with fewer lines. Each line represents a different classical element (fire, air, water, earth), and has either one point or two points. Four such figures are generated by random means -- dots drawn on paper, coin flips, dice rolls, whatever -- and plugged into the first four slots of a shield-shaped chart with fifteen such slots. The rest of the figures are generated by manipulating the first four figures and their derivatives. Divination can be done solely with the Shield Chart, or the figures can be transcribed into a square, 12-slot chart based on the houses of the zodiac, which can provide a more nuanced reading. If you'd like to know more, <a href="https://www.princeton.edu/~ezb/geomancy/geostep.html">this page</a> has some good general information.</p>
	<p>This app is simply intended to generate the first four and derive the other eleven figures so that a geomancer can fill in the charts without actually having to do the math involved, because I always screw up at least one of the figures.</p>
	<p>I don't currently have meanings for the figures stored, nor do I have a way to view a 12 Houses chart, only a Shield Chart. If anyone would like to volunteer to write the former for me to use, again, contact me at <a href="mailto:hexdotink@gmail.com">hexdotink@gmail.com</a>, because at the moment, I don't have the time or energy to write them. I'll probably eventually make the latter available, but I have to figure out how to lay it out in HTML and CSS first, and I really don't like those.</p>
</aside>
<footer>
	<ul><li>Geomantic is copyright 2018 Rebecca Lynde-Scott.</li></ul>
</footer>



</body>
</html>
